body {
  margin: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  width: 400px;
  max-width: 400px;
  padding: 4rem;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.jumbotron {
  height: 50px;
  background: rgba(0, 0, 0, 0.158);
}

.list-group-item {
  border: none;
  background-color: transparent;
}

.login-class {
  border: none;
}

.btn-sm {
  border-radius: 1rem;
}

.background {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
